
<div>
  <p>home works!</p>
  <app-theme-switcher></app-theme-switcher>
  <button mat-flat-button color="primary" type="button" (click)="openDialog()">Click me</button>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="First and last name">
  </mat-form-field>
  <mat-form-field>
    <mat-select>
      <mat-option value="one">One</mat-option>
      <mat-option value="two">Two</mat-option>
      <mat-option value="three">Trhee</mat-option>
    </mat-select>
  </mat-form-field>


  <app-easy-panel>
      <div>Hello there, you!</div>
  </app-easy-panel>
</div>
